#article_list{
    text-align: center;
    /* background-color: red; */
    width: 650px;
    height: auto;
    position: absolute;
    left: 27.5%;
    top:8%;
    
}
#user_info{

    text-align: center;
    position: absolute;
    right: 10%;


}